@charset "UTF-8";
:root {
  --container-width: 1180px;
  --container-padding: 15px;
}

/* Reset and base styles  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/* links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  display: block;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* base style globs */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Epilogue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  background-color: #28293E;
}

/* globs */
.btn {
  padding: 17px 27px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.9rem;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
}

.description {
  font-size: 1rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
}

.section__title {
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
}

.descriptionImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #EF6D58;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0 var(--container-padding);
  max-width: var(--container-width);
  margin: 0 auto;
}

.container-right {
  /* overflow-x: hidden */
  padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}
@media (max-width: 1200px) {
  .container-right {
    padding-right: var(--container-padding);
  }
}

.container-left {
  /* overflow-x: hidden */
  padding-right: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}
@media (max-width: 1200px) {
  .container-left {
    padding-left: var(--container-padding);
  }
}

/* page layout(верстка) */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.nav__logo-name {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}
.nav__menu {
  width: 515px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .nav__menu {
    display: none;
  }
}
@media (max-width: 992px) {
  .nav__button {
    display: none;
  }
}
.nav__button:hover {
  background-color: rgba(255, 255, 255, 0.64);
  color: #28293E;
}
.nav__button:active {
  filter: brightness(120%);
}

.header {
  padding: 16px 0 139px;
  color: #fff;
}
@media (max-width: 768px) {
  .header {
    padding: 16px 0 48px;
  }
}
.header__content {
  margin-top: 122px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .header__content {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 48px;
  }
}
@media (max-width: 768px) {
  .header__item {
    margin-top: 50px;
  }
}
.header__title {
  margin: 24px 0;
  font-weight: 800;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -2px;
}
@media (max-width: 1200px) {
  .header__title {
    font-size: 55px;
    line-height: 64px;
    width: 380px;
  }
}
.header__text {
  width: 100%;
  max-width: 470px;
  color: rgba(255, 255, 255, 0.64);
}
.header__btn {
  margin-top: 34px;
  background-color: #EF6D58;
}
.header__img {
  width: 100%;
  max-width: 50%;
}
@media (max-width: 768px) {
  .header__img {
    display: flex;
    order: -1;
    max-width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
