@charset "UTF-8";
:root {
  --container-width: 1180px;
  --container-padding: 15px;
}

/* Reset and base styles  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/* links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  display: block;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* base style globs */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Epilogue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  background-color: #28293E;
}

/* globs */
.btn {
  padding: 17px 27px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.9rem;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
}

.description {
  font-size: 1rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
}

.section__title {
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
}

.descriptionImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #EF6D58;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0 var(--container-padding);
  max-width: var(--container-width);
  margin: 0 auto;
}

.container-right {
  /* overflow-x: hidden */
  padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}
@media (max-width: 1200px) {
  .container-right {
    padding-right: var(--container-padding);
  }
}

.container-left {
  /* overflow-x: hidden */
  padding-right: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}
@media (max-width: 1200px) {
  .container-left {
    padding-left: var(--container-padding);
  }
}

/* page layout(верстка) */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.nav__logo-name {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}
.nav__menu {
  width: 515px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .nav__menu {
    display: none;
  }
}
@media (max-width: 992px) {
  .nav__button {
    display: none;
  }
}
.nav__button:hover {
  background-color: rgba(255, 255, 255, 0.64);
  color: #28293E;
}
.nav__button:active {
  filter: brightness(120%);
}

.header {
  padding: 16px 0 139px;
  color: #fff;
}
@media (max-width: 768px) {
  .header {
    padding: 16px 0 48px;
  }
}
.header__content {
  margin-top: 122px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .header__content {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 48px;
  }
}
@media (max-width: 768px) {
  .header__item {
    margin-top: 50px;
  }
}
.header__title {
  margin: 24px 0;
  font-weight: 800;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -2px;
}
@media (max-width: 1200px) {
  .header__title {
    font-size: 55px;
    line-height: 64px;
    width: 380px;
  }
}
.header__text {
  width: 100%;
  max-width: 470px;
  color: rgba(255, 255, 255, 0.64);
}
.header__btn {
  margin-top: 34px;
  background-color: #EF6D58;
}
.header__img {
  width: 100%;
  max-width: 50%;
}
@media (max-width: 768px) {
  .header__img {
    display: flex;
    order: -1;
    max-width: 100%;
  }
}

.service {
  padding: 92px 0 100px;
  background-color: #FDF0E9;
}
@media (max-width: 768px) {
  .service {
    padding: 48px 0;
  }
}
.service__description {
  text-align: center;
}
.service__title {
  max-width: 425px;
  margin: 20px auto 0;
  text-align: center;
  line-height: 64px;
  color: #391400;
}
@media (max-width: 992px) {
  .service__title {
    max-width: 314px;
    font-size: 40px;
    line-height: 48px;
  }
}
.service__cards {
  margin: 60px 0;
  display: flex;
}
@media (max-width: 992px) {
  .service__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.service__card {
  border: 1px solid #F3D1BF;
  padding: 48px;
  width: 50%;
}
@media (max-width: 992px) {
  .service__card {
    width: 100%;
  }
}
.service__card:last-child {
  border-left: none;
}
@media (max-width: 992px) {
  .service__card:last-child {
    border-left: 1px solid #F3D1BF;
  }
}
.service__card-box {
  display: flex;
  align-items: center;
}
.service__card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-left: 24px;
  color: #391400;
}
.service__card-text {
  margin: 24px 0 30px;
  color: #391400;
}
.service__card-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  cursor: pointer;
  font-size: 45px;
  color: #EF6D58;
}
.service__card-link {
  color: #391400;
}
.service__link {
  display: block;
  text-align: center;
  color: #391400;
}
.service__link-desc {
  font-weight: 500;
}

.portfolio {
  padding: 108px 0 98px;
}
@media (max-width: 768px) {
  .portfolio {
    padding: 48px 0;
  }
}
.portfolio__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .portfolio__row {
    flex-direction: column;
    align-items: flex-start;
  }
}
.portfolio__title {
  color: #fff;
}
@media (max-width: 1200px) {
  .portfolio__title {
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .portfolio__title {
    margin-bottom: 20px;
  }
}
.portfolio__btn {
  color: #fff;
}
@media (max-width: 768px) {
  .portfolio__btn {
    margin-bottom: 50px;
  }
}
.portfolio__cards {
  width: 100%;
  max-width: 1400px;
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  .portfolio__cards {
    flex-direction: column;
  }
}
.portfolio__card {
  position: relative;
  width: 33.3333333333%;
  border: 2px solid red;
  margin-top: 80px;
  padding: 16px;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .portfolio__card {
    width: 100%;
    margin-top: 0;
    text-align: center;
  }
}
.portfolio__card:nth-child(even) {
  border-left: none;
  border-right: none;
}
@media (max-width: 1200px) {
  .portfolio__card:nth-child(even) {
    border-left: 2px solid red;
    border-right: 2px solid red;
    border-top: none;
    border-bottom: none;
  }
}
.portfolio__card-btn {
  outline: none;
  border: none;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  left: 48px;
  bottom: 120px;
}
@media (max-width: 1200px) {
  .portfolio__card-btn {
    left: calc(50% - 130px);
    transform: translateX(-50%);
  }
}
.portfolio__card-title {
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #fff;
  margin-top: 23px;
  position: absolute;
  left: 48px;
  bottom: 51px;
}
@media (max-width: 1200px) {
  .portfolio__card-title {
    left: calc(50% - 130px);
    transform: translateX(-50%);
  }
}

.about {
  padding: 187px 0 112px;
  background-color: #FDF0E9;
}
@media (max-width: 768px) {
  .about {
    padding: 48px 0;
  }
}
.about__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
@media (max-width: 992px) {
  .about__box {
    flex-direction: column;
  }
}
.about__box-img {
  width: 100%;
  max-width: 529px;
}
@media (max-width: 992px) {
  .about__box-img {
    max-width: 100%;
  }
}
.about__content {
  width: 100%;
  max-width: 470px;
}
@media (max-width: 992px) {
  .about__content {
    max-width: 100%;
  }
}
.about__title {
  color: #391400;
  margin-top: 20px;
}
.about__subtitle {
  font-size: 20px;
  line-height: 32px;
  color: #391400;
  margin: 26px 0 18px;
}
.about__text {
  color: #391400;
}
.about__btn {
  margin-top: 34px;
  background-color: #fff;
}
.about__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 174px;
}
@media (max-width: 768px) {
  .about__cards {
    flex-direction: column;
    margin-top: 48px;
  }
}
.about__card {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 32px 0 32px 40px;
  border: 1px solid #F3D1BF;
  color: #391400;
}
@media (max-width: 768px) {
  .about__card {
    width: 100%;
  }
}
.about__card:nth-child(even) {
  border-left: none;
}
@media (max-width: 992px) {
  .about__card:nth-child(even) {
    border-left: 1px solid #F3D1BF;
    border-top: none;
  }
}
.about__card-number {
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
}
.about__card-text {
  font-size: 20px;
  line-height: 32px;
}
.about__descriptionImg {
  width: 112px;
  height: 112px;
  margin-right: 40px;
}

.features {
  background-color: #28293E;
  padding: 151px 0 159px;
}
.features__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.features__box {
  width: 440px;
  color: #fff;
}
.features__title {
  width: 397px;
  margin: 20px 0 28px;
}
.features__list {
  margin-top: 24px;
}
.features__list-item {
  color: rgba(255, 255, 255, 0.64);
  padding-left: 48px;
  position: relative;
}
.features__list-item::before {
  content: url("../images/features-icon-1.svg");
  display: block;
  width: 32px;
  height: 32px;
  background-color: #EF6D58;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.features__list-item:not(:first-child) {
  margin-top: 16px;
}
.features__img {
  width: 50%;
}

/*# sourceMappingURL=style.css.map */
