:root{
  --container-width: 1180px;
  --container-padding: 15px;
}

// base
@import "base/vars";
@import "base/reset";
@import "base/base";
@import "base/mixins";
@import "base/containers";

/* page layout(верстка) */

.nav{
  @include flex(space-between);
  &__logo{
    width: fit-content;
    @include flex();
    gap: 14px;
    &-name{
      font-weight: 700;
      font-size: calc(1rem * 1.5);
      line-height: calc(1rem * 2);
    }
  }
  &__menu{
    width: 515px;
    @include flex(space-between);
    @include _767(display, none);
  }
  &__button{
    @include _991(display, none);

    &:hover{
      background-color: $gray-color;
      color: $primary-bg-color;
    }
    &:active{
      filter: brightness(120%);
    }
  }
}

.header{
  padding: 16px 0 139px;
  color: $primary-text-color;

  @include _767(padding, 16px 0 48px);

  &__content{
    margin-top: 122px;
    @include flex();

    @include _767-block{
      flex-direction: column;
      align-items: flex-start;
      margin-top: 48px;
    }
  }
  &__item{
    @include _767(margin-top, 50px);
  }
  &__title{
    margin: 24px 0;
    font-weight: 800;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -2px;

    @include _1199-block{
      font-size: 55px;
      line-height: 64px;
      width: 380px;
    }
  }
  &__text{
    width: 100%;
    max-width: 470px;
    color: $gray-color;
  }
  &__btn{
    margin-top: 34px;
    background-color: $orange-color;

    &:hover{
      //?????
    }
  }
  &__img{
    width: 100%;
    max-width: 50%;
    @include _767-block{
      display: flex;
      order: -1;
      max-width: 100%;
    }
  }
}

.service{
  padding: 92px 0 100px;
  background-color: $secondary-bg-color;

  @include _767(padding, 48px 0);
  &__description{
    text-align: center;
  }
  &__title{
    max-width: 425px;
    margin: 20px auto 0;
    text-align: center;
    line-height: 64px;
    color: $secondary-text-color;

    @include _991-block{
      max-width: 314px;
      font-size: 40px;
      line-height: 48px;
    }
  }
  &__cards{
    margin: 60px 0;
    display: flex;

    @include _991-block{
      @include flex();
      flex-direction: column;
    }
  }
  &__card{
    border: 1px solid #F3D1BF;
    padding: 48px;
    width: 50%;

    @include _991(width, 100%);
    &:last-child{
      border-left: none;
      @include _991(border-left, 1px solid #F3D1BF);
    }
    &-box{
      display: flex;
      align-items: center;
    }
    &-title{
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      margin-left: 24px;
      color: $secondary-text-color;
    }
    &-text{
      margin: 24px 0 30px;
      color: $secondary-text-color;
    }
    &-btn{
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: $primary-text-color;
      @include flex();
      margin-right: 16px;
      cursor: pointer;
      font-size: 45px;
      color: $orange-color;
    }
    &-link{
      color: $secondary-text-color;
    }
  }
  &__link{
    display: block;
    text-align: center;
    color: $secondary-text-color;
    &-desc{
      font-weight: 500;
    }
  }
}

.portfolio{
  padding: 108px 0 98px;
  @include _767(padding, 48px 0);

  &__row{
    @include flex(space-between);
    margin-top: 20px;
    @include _767-block{
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__title{
    color: $primary-text-color;

    @include _1199(margin-bottom, 50px);
    @include _767(margin-bottom, 20px);
  }
  &__btn{
    color: $primary-text-color;
    @include _767(margin-bottom, 50px);

  }
  &__cards{
    width: 100%;
    max-width: 1400px;
    padding: 0 16px;
    margin: 0 auto;
    @include flex(space-between);
    @include _1199-block{
      flex-direction: column;
    }
  }
  &__card{
    position: relative;
    width: calc(100% / 3);
    border: 2px solid red;
    margin-top: 80px;
    //padding: 416px 0 51px 48px;
    padding: 16px;
    overflow: hidden;
      @include _1199-block{
        width: 100%;
        margin-top: 0;
        text-align: center;
      };
    &:nth-child(even){
      border-left: none;
      border-right: none;
      @include _1199-block{
        border-left: 2px solid red;
        border-right: 2px solid red;
        border-top: none;
        border-bottom: none;
      }
    }
    &-bg{}
    &-btn{
      outline: none;
      border: none;
      background-color: $primary-text-color;
      padding: 10px;
      border-radius: 10px;
      position: absolute;
      left: 48px;
      bottom: 120px;
      @include _1199-block{
        left: calc(50% - 130px);
        transform: translateX(-50%);
      }
    }
    &-title{
      font-weight: 800;
      font-size: 40px;
      line-height: 48px;
      color: $primary-text-color;
      margin-top: 23px;
      position: absolute;
      left: 48px;
      bottom: 51px;
      @include _1199-block{
        left: calc(50% - 130px);
        transform: translateX(-50%);
      }
    }
  }
}