
/* base style globs */
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Epilogue', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  background-color: $primary-bg-color;
}












