

//ТОЧКМ ПЕРЕЛОМА
// большие рабочие столы, 1400 пикселей и выше
$desktop-size: 1400px;
// большие рабочие столы, 1200 пикселей и выше
$laptop-size: 1200px;
// настольные компьютеры, 992 пикселей и выше
$label-size: 992px;
// Средние устройства (планшеты, 768 пикселей и выше)
$medium-size: 768px;
// телефоны с альбомной ориентацией, 576 пикселей и выше
$mobile-size: 576px;


// BASICS ПЕРЕМЕННЫЕ STYLE
//$main-bg: beige;
$primary-bg-color: #28293E;
$secondary-bg-color: #FDF0E9;
$primary-text-color: #fff;
$secondary-text-color: #391400;
$gray-color: rgba(255, 255, 255, 0.64);
$orange-color: #EF6D58;









